body {
    margin: 0;
    padding: 0;
}

.title_Postion {
    margin: auto;
    max-width: 320px;
    height: auto;
    border: 2px solid red;
    border-radius: 12px;
    background-color: rgb(190, 190, 190);
    color: rgb(187, 0, 0);
}

.button1_Postion {
    margin-top: 780px;
}

#game-container {
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.backgroundStartMenu, .backgroundYoudied, .backgroundLevel1, .backgroundLevel2 {
    background: no-repeat;
    max-height: 950px;
    background-size: 100% 100%;
}

.itemEen {
    width: 20px;
    height: 10px;
    position: relative;
}